.container {
    background: url(images/concrete_seamless.png);
    font: ariel;
    padding: 0;
    
}
    .header{
        background-color: white;
        margin: 0;
    }

    .header{
        background-color: white;
        margin-bottom: 0;
     
      }

      h1 {
        background-color: teal;
        color: white;
        font: 18px;
        padding: 10px;
        margin-bottom: 0;
        
      }

      .nav {
        color: black;
      padding: 10px;
      }

      h2{ 
        font: 30px;
        color: teal;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        font: 40px;
      }

      h3{
        margin-top: 20px;
        margin-right: 0px;
      
        font: 10px;
        color: teal;
        padding: 20px;

     }

      #main_content{
        background: white;
        padding: 20px;
        margin-top: 60px;
        margin-bottom: 60px;
      
      }

      p{
        font: 30px;
        font: georgia;
        margin: 0px;
        background-color: white;
        color: #666;
        padding: 20px;

      }

      #connect{
        background: white;
        margin: 40px;
        padding: 30px;
        padding-right: 0;
        font-size: 40px;
        margin-top: 60px;
        margin-right: 40px;
        
      }

      #spacer{
        margin-top: 100px;
        padding: 200px;
      }

      #spacer2{
        margin-top: 100px;
        padding: 100px;
      }

      #contact ul {
        margin-bottom: 20px;
      }
      
      #contact li {
        margin-bottom: 10px;
      }

      .footer {
        Background-color:teal;
        height: 70px; 
        padding-top: 20px;
        background: #666;
        border-top: 8px solid #4aaaa5;

        }