.container {
    background: url(images/concrete_seamless.png);
    font: ariel;
    padding: 0;
    
}
    .header{
        background-color: white;
        margin: 0;
    }

    .header{
        background-color: white;
        margin-bottom: 0;
     
      }

      h1 {
        background-color: teal;
        color: white;
        font: 18px;
        padding: 10px;
        margin-bottom: 0;
        
      }

      .nav {
        color: black;
      padding: 10px;
      }

      h2{ 
        font: 18px;
        color: white;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      h3{
        margin-top: 20px;
        font: 10px;
        background-color: white;
      }

      p{
        font: 20px;
        font: georgia;
        margin-bottom: 40px;
        background-color: white;
        padding: 20px;

      }


      .footer {
        Background-color:teal;
        height: 70px; 
        padding-top: 20px;
        color: black;

        }